<h1>Hello Checkerz</h1>
<div id='gameboard-container'>
  <div class="row" data-row='0'>
      <div class="piece" data-row='0' data-col='0'></div>
      <div class="piece" data-row='0' data-col='1'></div>
      <div class="piece" data-row='0' data-col='2'></div>
      <div class="piece" data-row='0' data-col='3'></div>
      <div class="piece" data-row='0' data-col='4'></div>
      <div class="piece" data-row='0' data-col='5'></div>
      <div class="piece" data-row='0' data-col='6'></div>
      <div class="piece" data-row='0' data-col='7'></div>
  </div>
    <div class="row" data-row='1'>
      <div class="piece" data-row='1' data-col='0'></div>
      <div class="piece" data-row='1' data-col='1'></div>
      <div class="piece" data-row='1' data-col='2'></div>
      <div class="piece" data-row='1' data-col='3'></div>
      <div class="piece" data-row='1' data-col='4'></div>
      <div class="piece" data-row='1' data-col='5'></div>
      <div class="piece" data-row='1' data-col='6'></div>
      <div class="piece" data-row='1' data-col='7'></div>
  </div>
  <div class="row" data-row='2'>
      <div class="piece" data-row='2' data-col='0'></div>
      <div class="piece" data-row='2' data-col='1'></div>
      <div class="piece" data-row='2' data-col='2'></div>
      <div class="piece" data-row='2' data-col='3'></div>
      <div class="piece" data-row='2' data-col='4'></div>
      <div class="piece" data-row='2' data-col='5'></div>
      <div class="piece" data-row='2' data-col='6'></div>
      <div class="piece" data-row='2' data-col='7'></div>
  </div>
  <div class="row" data-row='3'>
      <div class="piece" data-row='3' data-col='0'></div>
      <div class="piece" data-row='3' data-col='1'></div>
      <div class="piece" data-row='3' data-col='2'></div>
      <div class="piece" data-row='3' data-col='3'></div>
      <div class="piece" data-row='3' data-col='4'></div>
      <div class="piece" data-row='3' data-col='5'></div>
      <div class="piece" data-row='3' data-col='6'></div>
      <div class="piece" data-row='3' data-col='7'></div>
  </div>
  <div class="row" data-row='4'>
      <div class="piece" data-row='4' data-col='0'></div>
      <div class="piece" data-row='4' data-col='1'></div>
      <div class="piece" data-row='4' data-col='2'></div>
      <div class="piece" data-row='4' data-col='3'></div>
      <div class="piece" data-row='4' data-col='4'></div>
      <div class="piece" data-row='4' data-col='5'></div>
      <div class="piece" data-row='4' data-col='6'></div>
      <div class="piece" data-row='4' data-col='7'></div>
  </div>
  <div class="row" data-row='5'>
      <div class="piece" data-row='5' data-col='0'></div>
      <div class="piece" data-row='5' data-col='1'></div>
      <div class="piece" data-row='5' data-col='2'></div>
      <div class="piece" data-row='5' data-col='3'></div>
      <div class="piece" data-row='5' data-col='4'></div>
      <div class="piece" data-row='5' data-col='5'></div>
      <div class="piece" data-row='5' data-col='6'></div>
      <div class="piece" data-row='5' data-col='7'></div>
  </div>
  <div class="row" data-row='6'>
      <div class="piece" data-row='6' data-col='0'></div>
      <div class="piece" data-row='6' data-col='1'></div>
      <div class="piece" data-row='6' data-col='2'></div>
      <div class="piece" data-row='6' data-col='3'></div>
      <div class="piece" data-row='6' data-col='4'></div>
      <div class="piece" data-row='6' data-col='5'></div>
      <div class="piece" data-row='6' data-col='6'></div>
      <div class="piece" data-row='6' data-col='7'></div>
  </div>
  <div class="row" data-row='7'>
      <div class="piece" data-row='7' data-col='0'></div>
      <div class="piece" data-row='7' data-col='1'></div>
      <div class="piece" data-row='7' data-col='2'></div>
      <div class="piece" data-row='7' data-col='3'></div>
      <div class="piece" data-row='7' data-col='4'></div>
      <div class="piece" data-row='7' data-col='5'></div>
      <div class="piece" data-row='7' data-col='6'></div>
      <div class="piece" data-row='7' data-col='7'></div>
  </div>
