
.piece{
    display:table-cell;
    width: 100px;
    height: 100px;

    padding:0px;
    margin: 0px;
    background-color:white;
    border: none;
}
.piece:hover {
    opacity: .5;
}
.row{
    display:table-row;
    margin:0;
    padding:0;
}
body{
    text-align: center;
}

.black{
    background-color: black;
}
.red{
    background-color: red;
}

#gameboard-container,
.score-board{
    display: table;
    border-collapse: collapse;
    background-color: #ffe545;
    max-width: 1000px;
    border: 1px solid #999;
    margin:auto;
    padding:20px;
    border: 5px solid black;

}
.score-board{
    text-align: left;
    background-color: white;
}